<div>
  <span>Commenter:</span>
  <%= comment.commenter %>
</div>
<div>
  <span>Comment:</span>
  <%= comment.body %>
</div>
<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>


