
<h1>Hello,jing</h1>
<h1>Welcome</h1>
<!--
<button onclick="getElementById('iframe_id').setAttribute('src','https://trinket.io/embed/python/52ad49cf9a?noSharing=true&noStorage=true&inLibrary=true')">Lsystem</button>
<button onclick="getElementById('iframe_id').setAttribute('src','https://trinket.io/embed/python/050b9f89ac?noSharing=true&noStorage=true&inLibrary=true')">Dragon-curve</button>
<button onclick="getElementById('iframe_id').setAttribute('src','https://trinket.io/embed/python/4dca7044a5?start=result')">Triangle</button>
-->
<div class="container">
  <div class="tab-wrapper">
  <div class="wel_div">
      <input type="radio" name="tab-radio" class="tab-radio" id="tab-radio-1" checked>
      <label for="tab-radio-1" class="tab-handler tab-handler-1">Lsystem</label>
      <iframe id="iframe_id" class="tab-content tab-content-1" src="https://trinket.io/embed/python/52ad49cf9a?noSharing=true&noStorage=true&inLibrary=true" width="100%"
          height="356" frameborder="0" marginwidth="0" marginheight="0"
          allowfullscreen>
      </iframe>
      <input type="radio" name="tab-radio" class="tab-radio" id="tab-radio-2" checked>
      <label for="tab-radio-2" class="tab-handler tab-handler-2">Dragon-curve</label>
      <iframe id="iframe_id" class="tab-content tab-content-2" src="https://trinket.io/embed/python/050b9f89ac?noSharing=true&noStorage=true&inLibrary=true" width="100%"
          height="356" frameborder="0" marginwidth="0" marginheight="0"
          allowfullscreen>
      </iframe>
      <input type="radio" name="tab-radio" class="tab-radio" id="tab-radio-3" checked>
      <label for="tab-radio-3" class="tab-handler tab-handler-3">Triangle</label>
      <iframe id="iframe_id" class="tab-content tab-content-3" src="https://trinket.io/embed/python/bf0d406245?noSharing=true&noStorage=true&inLibrary=true" width="100%"
          height="356" frameborder="0" marginwidth="0" marginheight="0"
          allowfullscreen>
      </iframe>

</div>
</div>
</div>


